<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azizadx.newsly">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/newsl_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/newsl_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Newsly">

        <activity android:name=".ui.main.view.SignInActivity"></activity>
        <activity android:name=".ui.main.view.BottomNavBar"></activity>
        <activity android:name=".ui.main.view.BookmarksEmptyStateActivity" />
       <!-- <activity android:name=".ui.main.view.WelcomeScreenActivity" />-->
        <activity android:name=".ui.main.view.OnboardingActivity" />
        <activity android:name=".ui.main.view.SignUpActivity" />
        <activity android:name=".ui.main.view.base.BaseActivity" />
        <activity android:name=".ui.main.view.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.view.MainActivity" />
    </application>

</manifest>